In [293]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [294]:
# https://stackoverflow.com/questions/23199796/detect-and-
# exclude-outliers-in-a-pandas-train_dataframe/46740476#46740476

def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] > fence_low) & (df_in[col_name] < fence_high)]
    return df_out

def find_outliers_IQR(data):
    q1 = data.quantile(0.25)
    q3 = data.quantile(0.75)
    IQR = q3-q1
    outliers = data[((data<(q1-1.5*IQR))|(data>(q3+1.5*IQR)))]
    return outliers

In [295]:
data.dtypes

Unnamed: 0                   int64
Store                        int64
DayOfWeek                    int64
Date                         int32
Sales                        int64
Customers                    int64
Open                         int64
Promo                        int64
StateHoliday                 int32
SchoolHoliday                int64
StoreType                    int32
Assortment                   int32
CompetitionDistance          int32
CompetitionOpenSinceMonth    int32
CompetitionOpenSinceYear     int32
Promo2                       int64
Promo2SinceWeek              int32
Promo2SinceYear              int32
PromoInterval                int32
dtype: object

In [296]:
data = pd.read_csv('MergedTrainingDataset.csv')

data['Date'] = data['Date'].astype('datetime64')
# Change time to int
time0 = pd.Timestamp('2012-01-01 00:00:00')
data['Date'] = (data['Date'] - time0).values.astype(int)


# CLEAN ALL DATA THAT IS NOT INT TYPE
sH1 = {"StateHoliday": {"a":0, "b":1, 'c':2, '0':0}}
sT1 = {"StoreType": {"a":0, "b":1, 'c':2, 'd':3}}
aS1 = {"Assortment": {"a":0, "b":1, 'c':2}}
pI1 = {"PromoInterval": {None:0, "Jan,Apr,Jul,Oct":1, 'Feb,May,Aug,Nov':2, 'Mar,Jun,Sept,Dec':3}}

data.replace(sH1, inplace=True)
data.replace(sT1, inplace=True)
data.replace(aS1, inplace=True)
data.replace(pI1, inplace=True)

data

C:\Users\mverd\AppData\Local\Temp\ipykernel_9288\1350448015.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('MergedTrainingDataset.csv')

,Unnamed: 0,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,0,1,5,-564854784,5263,555,1,1,0,1,2,0,1270.0,9.0,2008.0,0,NaN,NaN,0
1,1,2,5,-564854784,6064,625,1,1,0,1,0,0,570.0,11.0,2007.0,1,13.0,2010.0,1
2,2,3,5,-564854784,8314,821,1,1,0,1,0,0,14130.0,12.0,2006.0,1,14.0,2011.0,1
3,3,4,5,-564854784,13995,1498,1,1,0,1,2,2,620.0,9.0,2009.0,0,NaN,NaN,0
4,4,5,5,-564854784,4822,559,1,1,0,1,0,0,29910.0,4.0,2015.0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1017204,1111,2,-1091436544,0,0,0,0,0,1,0,0,1900.0,6.0,2014.0,1,31.0,2013.0,1
1017205,1017205,1112,2,-1091436544,0,0,0,0,0,1,2,2,1880.0,4.0,2006.0,0,NaN,NaN,0
1017206,1017206,1113,2,-1091436544,0,0,0,0,0,1,0,2,9260.0,NaN,NaN,0,NaN,NaN,0
1017207,1017207,1114,2,-1091436544,0,0,0,0,0,1,0,2,870.0,NaN,NaN,0,NaN,NaN,0
1017208,1017208,1115,2,-1091436544,0,0,0,0,0,1,3,2,5350.0,NaN,NaN,1,22.0,2012.0,3

In [297]:
# REPLACE NaN with Median and Mode, it depends on the context
data['CompetitionDistance'] = data['CompetitionDistance'].fillna(data['CompetitionDistance'].median())

data['Promo2SinceWeek'] = data['Promo2SinceWeek'].fillna(data['Promo2SinceWeek'].median())

data['Promo2SinceYear'] = data['Promo2SinceYear'].fillna(data['Promo2SinceYear'].median())

data['CompetitionOpenSinceMonth'] = data['CompetitionOpenSinceMonth'].fillna(data['CompetitionOpenSinceMonth'].median())

data['CompetitionOpenSinceYear'] = data['CompetitionOpenSinceYear'].fillna(data['CompetitionOpenSinceYear'].median())

# This function removes NaN for all data using median()
data = data.fillna(data.median())

data['StateHoliday'] = data['StateHoliday'].astype(int)
data['StoreType'] = data['StoreType'].astype(int)
data['PromoInterval'] = data['PromoInterval'].astype(int)
data['Assortment'] = data['Assortment'].astype(int)
data['Promo2SinceWeek'] = data['Promo2SinceWeek'].astype(int)
data['Promo2SinceYear'] = data['Promo2SinceYear'].astype(int)
data['CompetitionOpenSinceMonth'] = data['CompetitionOpenSinceMonth'].astype(int)
data['CompetitionOpenSinceYear'] = data['CompetitionOpenSinceYear'].astype(int)
data['CompetitionDistance'] = data['CompetitionDistance'].astype(int)

In [298]:
data.isnull().sum()

Unnamed: 0                   0
Store                        0
DayOfWeek                    0
Date                         0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [299]:
data.dtypes

Unnamed: 0                   int64
Store                        int64
DayOfWeek                    int64
Date                         int32
Sales                        int64
Customers                    int64
Open                         int64
Promo                        int64
StateHoliday                 int32
SchoolHoliday                int64
StoreType                    int32
Assortment                   int32
CompetitionDistance          int32
CompetitionOpenSinceMonth    int32
CompetitionOpenSinceYear     int32
Promo2                       int64
Promo2SinceWeek              int32
Promo2SinceYear              int32
PromoInterval                int32
dtype: object

In [300]:
# REMOVE OUTLIERS
remove_outlier(data,'CompetitionDistance')
remove_outlier(data, 'Customers')
remove_outlier(data,'Sales')

# data.to_csv('trainMergeReady.csv')

,Unnamed: 0,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,0,1,5,-564854784,5263,555,1,1,0,1,2,0,1270,9,2008,0,22,2012,0
1,1,2,5,-564854784,6064,625,1,1,0,1,0,0,570,11,2007,1,13,2010,1
2,2,3,5,-564854784,8314,821,1,1,0,1,0,0,14130,12,2006,1,14,2011,1
3,3,4,5,-564854784,13995,1498,1,1,0,1,2,2,620,9,2009,0,22,2012,0
4,4,5,5,-564854784,4822,559,1,1,0,1,0,0,29910,4,2015,0,22,2012,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1017204,1111,2,-1091436544,0,0,0,0,0,1,0,0,1900,6,2014,1,31,2013,1
1017205,1017205,1112,2,-1091436544,0,0,0,0,0,1,2,2,1880,4,2006,0,22,2012,0
1017206,1017206,1113,2,-1091436544,0,0,0,0,0,1,0,2,9260,8,2010,0,22,2012,0
1017207,1017207,1114,2,-1091436544,0,0,0,0,0,1,0,2,870,8,2010,0,22,2012,0
1017208,1017208,1115,2,-1091436544,0,0,0,0,0,1,3,2,5350,8,2010,1,22,2012,3

In [301]:
data

,Unnamed: 0,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,0,1,5,-564854784,5263,555,1,1,0,1,2,0,1270,9,2008,0,22,2012,0
1,1,2,5,-564854784,6064,625,1,1,0,1,0,0,570,11,2007,1,13,2010,1
2,2,3,5,-564854784,8314,821,1,1,0,1,0,0,14130,12,2006,1,14,2011,1
3,3,4,5,-564854784,13995,1498,1,1,0,1,2,2,620,9,2009,0,22,2012,0
4,4,5,5,-564854784,4822,559,1,1,0,1,0,0,29910,4,2015,0,22,2012,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1017204,1111,2,-1091436544,0,0,0,0,0,1,0,0,1900,6,2014,1,31,2013,1
1017205,1017205,1112,2,-1091436544,0,0,0,0,0,1,2,2,1880,4,2006,0,22,2012,0
1017206,1017206,1113,2,-1091436544,0,0,0,0,0,1,0,2,9260,8,2010,0,22,2012,0
1017207,1017207,1114,2,-1091436544,0,0,0,0,0,1,0,2,870,8,2010,0,22,2012,0
1017208,1017208,1115,2,-1091436544,0,0,0,0,0,1,3,2,5350,8,2010,1,22,2012,3

In [ ]:
# WHEN I PASS IT TO CSV, ITS PASSING THE DATA BEFORE THE ELIMINATION OF 
# OUTLIERS, I DONT NO WHY!!!!!!!!!!!!!!!!!!!!!!!