In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
store = pd.read_csv('DataSet/store.csv')
store

NameError: name 'pd' is not defined

In [140]:
store.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [141]:
values= store['StoreType'].unique()
print(values)

['c' 'a' 'd' 'b']

In [142]:
# a,b,c,d are types of stores so we are changing them to 1,2,3,4
rep = {"StoreType": {"a":1, "b":2, 'c':3, 'd':4}}
store.replace(rep, inplace=True)

In [143]:
values= store['Assortment'].unique()
print(values)

['a' 'c' 'b']

In [144]:
# a,b,c are assortments so we are changing them to 1=basic, 2=extra, 3=extended
rep = {"Assortment": {"a":1, "b":2, 'c':3}}
store.replace(rep, inplace=True)

In [145]:
values= store['PromoInterval'].unique()
print(values)

[nan 'Jan,Apr,Jul,Oct' 'Feb,May,Aug,Nov' 'Mar,Jun,Sept,Dec']

In [146]:
# We have to replace values of NaN
rep = {"PromoInterval": {None:0, "Jan,Apr,Jul,Oct":1, 'Feb,May,Aug,Nov':2, 'Mar,Jun,Sept,Dec':3}}
store.replace(rep, inplace=True)
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,0
1,2,1,1,570.0,11.0,2007.0,1,13.0,2010.0,1
2,3,1,1,14130.0,12.0,2006.0,1,14.0,2011.0,1
3,4,3,3,620.0,9.0,2009.0,0,NaN,NaN,0
4,5,1,1,29910.0,4.0,2015.0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
1110,1111,1,1,1900.0,6.0,2014.0,1,31.0,2013.0,1
1111,1112,3,3,1880.0,4.0,2006.0,0,NaN,NaN,0
1112,1113,1,3,9260.0,NaN,NaN,0,NaN,NaN,0
1113,1114,1,3,870.0,NaN,NaN,0,NaN,NaN,0
1114,1115,4,3,5350.0,NaN,NaN,1,22.0,2012.0,3

In [147]:
values= store['CompetitionOpenSinceYear'].unique()
print(values)

[2008. 2007. 2006. 2009. 2015. 2013. 2014. 2000. 2011.   nan 2010. 2005.
 1999. 2003. 2012. 2004. 2002. 1961. 1995. 2001. 1990. 1994. 1900. 1998.]

In [148]:
values= store['Promo2SinceYear'].unique()
print(values)

[  nan 2010. 2011. 2012. 2009. 2014. 2015. 2013.]

In [149]:
store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                  0
dtype: int64

In [150]:
# REPLACE NaN with Median, it depends on the context
# MODE IN LAST FOUR CASES WAS NaN so it did nothing
store['CompetitionDistance'].fillna(store['CompetitionDistance'].median(), inplace = True)
store['Promo2SinceYear'].fillna(store['Promo2SinceYear'].median(), inplace = True)
store['CompetitionOpenSinceMonth'].fillna(store['CompetitionOpenSinceMonth'].median(), inplace = True)
store['CompetitionOpenSinceYear'].fillna(store['CompetitionOpenSinceYear'].median(), inplace = True)
store['Promo2SinceWeek'].fillna(store['Promo2SinceWeek'].median(), inplace = True)

In [151]:
np.sum(np.isnan(store), 0)         # No missing values

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [152]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,3,1,1270.0,9.0,2008.0,0,22.0,2012.0,0
1,2,1,1,570.0,11.0,2007.0,1,13.0,2010.0,1
2,3,1,1,14130.0,12.0,2006.0,1,14.0,2011.0,1
3,4,3,3,620.0,9.0,2009.0,0,22.0,2012.0,0
4,5,1,1,29910.0,4.0,2015.0,0,22.0,2012.0,0
...,...,...,...,...,...,...,...,...,...,...
1110,1111,1,1,1900.0,6.0,2014.0,1,31.0,2013.0,1
1111,1112,3,3,1880.0,4.0,2006.0,0,22.0,2012.0,0
1112,1113,1,3,9260.0,8.0,2010.0,0,22.0,2012.0,0
1113,1114,1,3,870.0,8.0,2010.0,0,22.0,2012.0,0
1114,1115,4,3,5350.0,8.0,2010.0,1,22.0,2012.0,3

In [153]:
values= store['Promo2SinceYear'].unique()
print(values)

[2012. 2010. 2011. 2009. 2014. 2015. 2013.]

In [154]:
store['Promo2SinceYear'].median()

2012.0